.App {
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0b412059;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #033f21;
  font-size: 5.5rem;
  font-family: accuratist;
  margin-bottom: 40px;
}

.biblioteca, .lista-juegos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
  gap: 80px;
  padding: 60px;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center; /* Centrar las tarjetas en el contenedor */
}

.seccion {
  margin-bottom: 60px;
}

.titulo-seccion {
  text-align: center;
  color: #2c3e50;
  font-size: 2rem;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 3px solid #556810;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.lista-reseñas {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.mensaje-vacio {
  text-align: center;
  color: #7f8c8d;
  font-size: 1.2rem;
  font-style: italic;
  padding: 40px;
  grid-column: 1 / -1; /*ocupa todo el ancho del grid */
} 

@media (max-width: 768px) {
    
    /*Contenedor Principal App */
    .App {
        padding: 10px; /*Reduce padding en móviles*/
    }

    /*En moviles las tarjetas ocupan todo el ancho */
    .biblioteca {
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 100%;
        padding: 10px;
    }

    .lista-reseñas {
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 100%;
    }

    /*Títulos*/
    h1 {
        font-size: 2rem;
    }
    
    .titulo-seccion {
        font-size: 1.5rem;
    }
}

/* Para tablets y pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
    .biblioteca {
        grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
        gap: 20px;
    }
}